<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="300" alt="Kong Logo" src="https://image.noelshack.com/fichiers/2019/20/1/1557740953-angular.png">
</div>

<div style="text-align:center">
  <img width="300" alt="Kong Logo" src="https://image.noelshack.com/fichiers/2019/20/1/1557739341-kong.png">
</div>

<div class="container-fluid formulaire">
  <div class="row">
    <div class="col-md-12">
      <form role="form">
        <div class="form-group">
          <label for="inputLogin">
            Login
          </label>
          <input type="login" class="form-control" id="inputLogin" />
        </div>
        <div class="form-group">
          <label for="inputPassword">
            Password
          </label>
          <input type="password" class="form-control" id="inputPassword" />
        </div>
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>